<%= render 'procesos/nav' %>
<br> 
<main role="main" class="container">
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h3>Nuevo Proceso</h3>
    <%= render 'form', proceso: @proceso %>
    <%= link_to 'Back', procesos_path %>
</div> 
</main>