body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

label {
  display: block;
}

.fondo_animado {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

nav.navbar.navbar-light {
	background-color:#F9F9F9;
}

.icono{
	text-align: center;
}

.icono > img {
  vertical-align: middle;
  margin-bottom: 0px !important;
}

.nav-item {
	list-style-type: none;
  padding-top:20px;
	padding-bottom:20px;
}

.nav-item > a:hover{
	border-bottom: solid 5px #4A90E2;
}

.nav-item > a {
  text-decoration: none;
  padding-bottom:24px !important;
  
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		
.body {
	color: #0c5460;
	font-size: 1.1em;
	line-height: 1.75;
}
