body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

li.nav-item {
  margin-top:  10px;
  margin-bottom:  10px;
}